
<h1>Weather App</h1>

<form [formGroup]="form" (ngSubmit)="getWeather()">
  <label>City: </label>
  <input type="text" formControlName="city">&nbsp;
  <button type="submit">Get</button>
</form>

<table *ngIf="weather$ | async as weather" border="1">
  <thead>
    <tr>
      <td>Description</td>
      <td>Temperature</td>
      <td>Longitude</td>
      <td>Latitude</td>
      <td>Icon</td>
    </tr>
  </thead>
  <tr *ngFor="let w of weather">
    <td>{{ w.description }}</td>
    <td>{{ w.temperature }}</td>
    <td>{{ w.longitude }}</td>
    <td>{{ w.latitude }}</td>
    <td>
      <img src="https://openweathermap.org/img/wn/{{ w.icon }}@2x.png">
    </td>
  </tr>
</table>